<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Start of placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Søg</mat-label>
    <input matInput
           aria-label="HertelProducts"
           [matAutocomplete]="auto"
           [formControl]="productControl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let p of filteredProducts | async" [value]="p.name">
        <span>varenummer: {{p.id}}</span> |
        <span>produkt: {{p.name}}</span> |
        <span>Producent: {{p.brandname}}</span>
        <span style="display:none;"> {{p.metakeywords}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>

</form>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


